<link rel="import" href="../../../component/app-artifact-list.html">
<link rel="import" href="./viewMixin.html">
<dom-module id="s-view">
  <template>
    <style>
      #content {
        height: calc(100vh - var(--topbar-height));
        overflow-y: auto;
      }
    </style>
    <div id="content">
      <dom-repeat items="{{artifacts}}">
        <template>
          <app-artifact-list
              id="{{item.id}}"
              description="{{item.data.categories.description}}"
              category="{{item.data.categories.category}}"
              priority="{{item.data.categories.priority}}"
              assignee="{{item.data.categories.assignee}}"
              updated="{{item.updated}}">
          </app-artifact-list>
        </template>
      </dom-repeat>

      <dom-if if="[[isLoading]]">
        <template>
          <app-artifact-list is-loading="{{isLoading}}"></app-artifact-list>
        </template>
      </dom-if>
    </div>
  </template>
  <script>
    class ShellView extends ViewMixin(Polymer.Element){
      static get is() {
        return 's-view';
      }

      constructor(props) {
        super(props);
        this.artifactLimit = 50;
        //Limit in pixel before fetching others data
        this.threshold = 1500;
        this.artifacts = [];
        //load on init
        this.isLoading = true;
        this.maxage = -1;
      }

      connectedCallback() {
        super.connectedCallback();
        if (this.id) {
          this.$.content.addEventListener('scroll', this._handleScroll.bind(this));
          this.fetchNextData(this.id, this.artifactLimit, -1);
        }
      }

      _handleScroll() {
        if (this.$.content.scrollTop >= (this.$.content.scrollHeight - this.$.content.offsetHeight) - this.threshold) {
          if (!this.isLoading && this.maxage) {
            this.setProperties({isLoading: true});
            this.fetchNextData(this.id, this.artifactLimit, this.maxage);
          }
        }
      }
    }
    // Register custom element definition using standard platform API
    customElements.define(ShellView.is, ShellView);

  </script>
</dom-module>